<div class="container" style="margin-left: 230px;">
  <div class="row">
      <% @favorite_posts.each do |posts|%>
        <div class= "mypage">
          <div class="card shadow-lg" style="width: 312px; margin-left: 16px; margin-top: 10px;">
            <%= link_to post_path(posts.id) do %>
              <% unless posts.images.first.nil? %>
                <%= image_tag(posts.images.first, width:310, height:217)%>
              <% end %>
            <% end %>
            <div class="card-body">
              <p>国名：<%= posts.country %></p>
              <p>都市名：<%= posts.city %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <div class="paa" style="margin-right: 150px; margin-top: 5px;">
    <%= paginate @favorite_posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>