<div>
  <h3><%= @user.name %></h3>
  <p>メールアドレス：<%= @user.email %></p>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @post.each do |posts| %>
<div>
  <%= link_to post_path(posts.id) do %>
    <%= image_tag posts.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag posts.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= posts.country %></p>
  <p>説明：<%= posts.city %></p>
  <p>ユーザーネーム：<%= posts.user.name %></p>
</div>
<% end %>