<div class="container" style = "margin-top: 10px;">
  <div class="row">
    <div class="col-lg-5">
      <div class = "title" style = "margin-top: 50px;">
        <h1><%= @user.name %>のマイページ</h1>
      </div>
        <div class= "mypage" style = "margin-top: 100px;" >
          <table class="table table-hover teble-inverse mb-5">
            <tr>
              <th><h5>プロフィール画像：&emsp;&emsp;&emsp;<%= image_tag @user.get_profile_image(100,100),class:"mt-3 rounded-circle" %></h5></th>
            </tr>
            <tr>
              <th><h5>ニックネーム&emsp;&emsp;：<%= @user.name %></h5></th>
            </tr>
            <tr>
              <th>
                <div class= "mypage">
                  <h5>
                    <% if @user == current_user %>
                  メールアドレス&emsp;：<%= @user.email %>
                  <% end %>
                  </h5>
                </div>
              </th>
            </tr>
          </table>
            <% if @user.name != "guestuser" %>
            <% if @user == current_user %>
            <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-lg  btn btn-outline-primary mt-5" %>&emsp;
            <% if user_signed_in? && @user.id == current_user.id %>
            <%= link_to "ブックマーク", favorites_user_path(@user), class: "btn btn-lg  btn btn-outline-primary mt-5" %>
              <%= link_to "退会", user_users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-lg  btn btn-outline-danger mt-5" %></p>
            <% end %>
          </h3>
            <% end %>
            <% end %>
        </div>
    </div>

    <div class="col-lg-3">
      <% flash.each do |message_type, message| %>
　　    <div class="alert alert-success"><%= message %></div>
      <% end %>
      <div class= "mypage" style = "margin-top: 550px;" >
        <h2><%= link_to "NEW POST", new_post_path, class: "btn btn-lg btn-success rounded-pill" %></h2>
      </div>
    </div>
    <div class="col-lg-3">
      <% @posts.each do |posts| %>
        <div class= "mypage" style = "margin-top: 10px;" >
          <div class="card shadow-lg" style="width: 340px;">
            <%= link_to post_path(posts.id) do %>
              <% unless posts.images.first.nil? %>
                <%= image_tag(posts.images.first, width:338, height:220)%>
              <% end %>
            <% end %>
            <div class="card-body">
              <p>国名：<%= posts.country %></p>
              <p>都市名：<%= posts.city %></p>
            </div>
          </div>
        </div>
          <% end %>
        <h4>
          <%= paginate @posts %>
        </h4>
    </div>
  </div>
</div>
