<div class="container" style = "margin-top: 30px;">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h3 class = "mb-5 text-center">会員一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>作成日時</th>
            <th>ユーザー名</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
              <td><%=link_to user.name, admins_user_path(user.id) %></td>
              <td><%= user.is_deleted ? "退会" : "有効" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>