<div class="container" style = "margin-top: 30px;">
  <div class="row">
    <div class="col-lg-6">
      <h3 class = "mb-5 text-center">会員詳細</h3>
      <table class="table table-hover teble-inverse mb-5">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= @user.is_deleted ? "退会" : "有効" %></td>
          </tr>
          <tr>
            <td>作成日時</td>
          <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-lg-6">
    <h3 class = "mb-5 text-center">コメント履歴</h3>
    <table class="table table-hover teble-inverse mb-5">
      <tbody>
        <% @post_comments.each do |post_comment| %>
          <tr>
            <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to post_comment.comment, admins_post_comment_path(post_comment.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @post_comments %>
  </div>
</div>