<div class="container" style = "margin-top: 56px;">
  <div class="row">
    
  <h4><%= @post.genre %>一覧</h4>

    <% @posts.each do |posts| %>
    <div class="card mt-2 shadow-lg" style="width: 300px;">
      <%= link_to post_path(posts.id) do %>
        <%= image_tag posts.get_image(300,300), class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
      <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
      <p>国名：<%= posts.country %></p>
      <p>都市：<%= posts.city %></p>
      <p>ジャンル：<%= posts.genre %></p>
      <p>ユーザーネーム：<%= posts.user.name %></p>
    </div>
    </div>
<% end %>
   </div>
</div>