<div class="container" style = "margin-top: 140px;">
  <div class="row">
  <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <h1>画像投稿フォーム</h1>
      <div class="post" style = "margin-top: 40px;">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
          <%= form_with model: @post do |f| %>
            <h4>画像</h4>
              <%= f.file_field :image, accept: "image/*" %>
            <h4>国名</h4>
              <%= f.text_field :country %>
            <h4>都市</h4>
              <%= f.text_field :city %>
            <h4>ジャンル</h4>
              <%= f.select :genre, ['娯楽', '観光', '宿泊', '食事', 'その他'], {include_blank: '---'} %>
            <h4>説明</h4>
            <%= f.text_area :explain, size: "50x4" %>
            <%= f.submit '投稿', class: "btn btn-lg  btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>