<div class="container" style = "margin-top: 1px;">
  <div class="row">
    <div class="col-lg-8">
      <div class="card mt-4 shadow-lg" style="width: 650px;">
        <%= image_tag @post.get_image(650,650), class:"card-img-top", style:"max-height: 431px;" %>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <%# binding.pry %>
            <%= link_to user_path(@post.user.id) do %>
              <p><%= image_tag @post.user.get_profile_image(100,100),class:"mt-3 rounded-circle" %></p>
            <% end %>
            <div class="name", style = "margin-left: 30px;" >
              <p><%= @post.user.name %></p>
            </div>
            </div>
            <div class="col-9">
              <p>国名：<%= @post.country %>　｜　都市：<%= @post.city %></p>
              <p>ジャンル：<%= @post.genre %></p>
              <p>説明: <%= @post.explain %></p>
              <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
              <p><div class="favorites_buttons_<%= @post.id %>">
                <%= render "favorites/favorite", post: @post %>
              </div></p>
              <p>
                コメント件数：<%= @post.post_comments.count %>
              <% if @post.user == current_user %>
                <%= link_to "編集", edit_post_path(@post) %>　｜
                <%= link_to "削除", post_path(@post), method: :delete %>
              <% end %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-4" style="margin-top: 50px;">
        <% @post.post_comments.each do |post_comment| %>
        <%= link_to user_path(post_comment.user.id) do %>
          <p><%= image_tag post_comment.user.get_profile_image(60,60), class:"mt-3 rounded-circle" %>
        <% end %>
          <%= post_comment.user.name %></p>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>　<%= post_comment.comment %>　
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        <% end %>

        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
    </div>
