<div class="container" style = "margin-top: 1px;">
  <div class="row">
    <div class="col-lg-8">


      <div class="card mt-1 shadow-lg" style="width: 650px; height: 740px;">
        <%#= image_tag @post.get_image(650,650), class:"card-img-top", style:"max-height: 431px;" %>
        <div id="tall">
            <div id="theTarget">
              <% @post.images.each_with_index do |image, index| %>
                <div class="image<%= index + 1 %>">
                  <%= image_tag(image, width:648, height:530) %>
                 </div>
              <% end %>
            </div>
          </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <%# binding.pry %>
            <%= link_to user_path(@post.user.id) do %>
              <p><%= image_tag @post.user.get_profile_image(100,100),class:"mt-3 rounded-circle" %></p>
            <% end %>
            <div class="name", style = "margin-left: 30px;" >
              <p><%= @post.user.name %></p>
            </div>
            </div>
            <div class="col-9">
              <p>国名：<%= @post.country %>　｜　都市：<%= @post.city %></p>
              <p>ジャンル：<%= @post.genre %></p>
              <p>説明: <%= @post.explain %></p>
              <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
              <p><div class="favorites_buttons_<%= @post.id %>">
                <%= render "favorites/favorite", post: @post %>
              </div></p>
              <p>
                コメント件数：<%= @post.post_comments.count %>
              <% if @post.user == current_user %>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <%= link_to "編集", edit_post_path(@post), class: "btn  btn btn-outline-success" %>｜
                <%= link_to "削除", post_path(@post), method: :delete, class: "btn  btn btn-outline-danger" %>
              <% end %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 postarea" style="margin-top: 30px; word-break: break-all;">
      <table class="table">
        <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td><%= link_to user_path(post_comment.user.id) do %>
            <p><%= image_tag post_comment.user.get_profile_image(40,40), class:"mt-3 rounded-circle" %></p>
        <% end %>
          <p><%= post_comment.user.name %>&emsp;
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>&emsp;
          <%= post_comment.comment %>&emsp;
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %></p>
            </td>
          <% end %>
        <% end %>
        </tr>
        </table>

        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, size: "40x3", placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: "btn btn-success" %>
        <% end %>
        <%#= paginate @post_comment %>
    </div>
